.whatsapp-float {
  display: flex;
  position: fixed;
  right: 30px;
  bottom: 30px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: whatsappBounce 1s ease-in-out infinite;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: #25d366;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.whatsapp-float:hover {
  transform: scale(1.1) translateY(-5px);
  animation: none;
  box-shadow: 0 6px 15px rgba(37, 211, 102, 0.4);
}

@keyframes whatsappBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
