<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Asociación Juvenil Proyecto Dubini - Organización dedicada a la juventud"
    />
    <title>Junta Directiva</title>
    <link rel="stylesheet" href="/styles/directorate.css" />
    <link rel="stylesheet" href="/styles/layout/header.css" />
    <link rel="stylesheet" href="/styles/layout/footer.css" />
    <link rel="stylesheet" href="/styles/components/hero.css" />
    <link rel="stylesheet" href="/styles/components/content.css" />
    <link rel="stylesheet" href="/styles/components/wsp-icon.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/base.css" />
  </head>

  <body>
    <header th:replace="fragments/header :: header"></header>
    <main role="main">
      <section class="featured-section">
        <h1>Nuestra junta Directiva</h1>
        <div class="container">
          <article class="program-card">
            <img src="assets/default.png" class="directorate-photo" />
            <h3>Alexandra Dubini</h3>
            <p></p>
            <a class="learn-more">Presidenta de Honor</a>
          </article>
          <div class="program-cards">
            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Iris González</h3>
              <p></p>
              <a class="learn-more">Presidenta</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Yoismar Trujillo</h3>
              <p></p>
              <a class="learn-more">Vicepresidenta</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Ayoze Pérez</h3>
              <p></p>
              <a class="learn-more">Secretario</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Malcom Adrián</h3>
              <p></p>
              <a class="learn-more">Tesorero</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Loara Dávila</h3>
              <p></p>
              <a class="learn-more">Vicetesorera</a>
            </article>
            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Francisco Hernández</h3>
              <p></p>
              <a class="learn-more">Coordinador Digital</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Lucía del Pino</h3>
              <p></p>
              <a class="learn-more">Vocal</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Lucía Quintero</h3>
              <p></p>
              <a class="learn-more">Vocal</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Estrella Quintero</h3>
              <p></p>
              <a class="learn-more">Vocal</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Lara Paz</h3>
              <p></p>
              <a class="learn-more">Vocal</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Michelle Rodríguez</h3>
              <p></p>
              <a class="learn-more">Vocal</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Elisa Mencaccini</h3>
              <p></p>
              <a class="learn-more">Vocal</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Giorgia Garbellini</h3>
              <p></p>
              <a class="learn-more">Vocal</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>JuanFra Falcón</h3>
              <p></p>
              <a class="learn-more">Asesor</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Mérari Afonso</h3>
              <p></p>
              <a class="learn-more">Asesora</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>María del Mar Salas</h3>
              <p></p>
              <a class="learn-more">Asesora</a>
            </article>

            <article class="program-card">
              <img src="assets/default.png" class="directorate-photo" />
              <h3>Laura Parente</h3>
              <p></p>
              <a class="learn-more">Asesora</a>
            </article>
          </div>
        </div>
      </section>
    </main>
    <div th:replace="fragments/wsp-icon :: wsp-icon"></div>
    <div th:replace="fragments/footer :: footer"></div>
  </body>
  <script src="/scripts/script.js"></script>
</html>
