<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Asociación Juvenil Proyecto Dubini - Organización dedicada a la juventud">
    <title>Proyecto Dubini</title>

    <link rel="stylesheet" href="/styles/layout/header.css">
    <link rel="stylesheet" href="/styles/layout/footer.css">
    <link rel="stylesheet" href="/styles/components/hero.css">
    <link rel="stylesheet" href="/styles/components/content.css">
    <link rel="stylesheet" href="/styles/components/wsp-icon.css">
    <link rel="stylesheet" href="/styles/components/popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <main role="main">
        <section class="hero">
            <div class="hero-slider">
                <div class="hero-slide" style="background-image: url('assets/example3.png')"></div>
                <div class="hero-slide" style="background-image: url('assets/example3.png')"></div>
                <div class="hero-slide" style="background-image: url('assets/example3.png')"></div>
            </div>
            <div class="hero-content">
                <h2>"Un eslogan guay para que la gente se quiera unir"</h2>
                <p>"Una subfrase tambien guay para que se quieran unir"</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScpYBiXsFYA2vxVg1Azp6JnyRLz2a8QjPdm99Ur5hemTy0lfg/viewform"
                    class="cta-button">¡Sé Socio!</a>
            </div>
        </section>

        <section class="featured-section">

            <div class="container">
                <h2 class="featured-section-title">Lo ultimo de AJPD</h2>
                <div class="program-cards">

                </div>
            </div>
        </section>

        <section class="activities-section">
            <div class="container">
                <h2>¿Qué hacemos en A.J. Proyecto Dubini?</h2>
                <div class="activities-slider">
                    <div class="slider-container">
                        <div class="slider-track">
                            <div class="slide">
                                <img src="assets/slider/slide1.png" alt="Actividad 1">
                                <div class="slide-caption">
                                    <p>Manifestación intercentros por las calles de La Laguna.</p>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="assets/slider/slide2.jpg" alt="Actividad 2">
                                <div class="slide-caption">
                                    <p>Un movimiento para unir jóvenes de todo el mundo por el cuidado del planeta.</p>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="assets/slider/slide3.jpg" alt="Actividad 3">
                                <div class="slide-caption">
                                    <p>Con el apoyo de la científica Alexandra Dubini.</p>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="assets/slider/slide4.jpg" alt="Actividad 3">
                                <div class="slide-caption">
                                    <p>Junta Directiva A.J. Proyecto Dubini.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </section>
    </main>
    <div th:replace="fragments/wsp-icon :: wsp-icon"></div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
<script type="module" src="/scripts/pages/featured.js"></script>
<script type="module" src="/scripts/components/popup.js"></script>
<script type="module" src="/scripts/script.js"></script>

</html>