.photo {
    width: 93vh;
    height: 70vh;
    border-radius: 10%;
    object-fit: cover;
    margin-top: 20px;
}

.hero-content p {
    max-width: 800px;
    margin: 20px 0.5rem 0.5rem 0.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
    color: white;
    text-align: justify;
}


@media (max-width: 768px) {
.photo {
    width: 47vh;
    height: 34vh;
}
}