.photo {
  margin-top: 20px;
  border-radius: 10%;
  width: 93vh;
  height: 70vh;
  object-fit: cover;
}

.hero-content p {
  margin: 20px 0.5rem 0.5rem 0.5rem;
  max-width: 800px;
  color: white;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

@media (max-width: 768px) {
  .photo {
    width: 47vh;
    height: 34vh;
  }
}
