.social-links {
  justify-content: center;
  margin-bottom: 1rem;
}
.google-map {
  width: 100vh !important;
  height: 50vh !important;
}

@media (max-width: 768px) {
  .google-map {
    width: 47vh !important;
  }
}
