.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: white;
  position: relative;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
      rgba(125, 179, 198, 0.85),
      rgba(84, 164, 188, 0.85)
    ),
    url("/assets/background3.png") !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
@media (max-width: 768px) {
  .hero {
    background-attachment: scroll !important;
  }
}
