main h1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
main {
  background: linear-gradient(
      rgba(125, 179, 198, 0.85),
      rgba(84, 164, 188, 0.85)
    ),
    url("/assets/background3.png") !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
@media (max-width: 768px) {
  main {
    background-attachment: scroll !important;
  }
}
