.hero {
  text-align: left !important;
}

.hero h2 {
  font-size: clamp(2rem, 5vw, 2.5rem) !important;
  text-align: center;
}
.hero p {
  margin-bottom: 1.5rem;
  font-size: 1.25rem !important;
  line-height: 1.5;
}
.hero ul {
  margin-bottom: 1rem;
}
.hero ul li {
  font-size: 1.25rem;
}
