.hero {
    text-align: left !important;
}

.hero h2 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 2.5rem) !important;
}
.hero p {
    font-size: 1.25rem !important;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}   
.hero ul {
    margin-bottom: 1rem;
}
.hero ul li {
    font-size: 1.25rem;
}